body {
    font: 18px/1.5 $mainFont;
    padding: .5em;
    height: 100vh;
}
.container {
    display: grid;
    height: 100%;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 15% 1fr 15%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    grid-template-areas: 
       "top-l top-c top-r" 
       "middle-l main middle-r"
       "bottom-l bottom-c bottom-r";
}

%panel {
    padding: .25em;
    background-color: $panelBgColor;
    color: $panelColor;
}

.side {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 50%;
    @extend %panel;
    &.open {
        left: 0;
    }
    transition: left .5s;
}

.panel {
    @extend %panel;
    position: relative;
    transform: scale(1,0);
    &.open {
        transform: scale(1);
    }
    transition: transform .5s;
}

.widgets-header {
    grid-area: top-c;
}

main {
    grid-area: main;
}

