.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 15% 1fr 15%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    grid-template-areas: 
   "top-l top-c top-r" 
   "middle-l main middle-r"
   "bottom-l bottom-c bottom-r";
}

.side {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 50%;
    padding: .25em;
    background-color: $side-bg-color;
}

.widgets-header {
    grid-area: top-c;
}

main {
    grid-area: main;
}

